.left-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6em;
  background-color: black;
  height: 100vh;

  p {
    color: white;
    font-size: 12px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-top: 8em;
  }

  .icon {
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    margin: 4px 0;
    width: 52px;
    height: 52px;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
  }

  .icon:hover {
    transform: scale(1.1);
  }
}
