.nutritions-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nutrition-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #fbfbfb;
  padding: 20px;
  border-radius: 5px;
  height: 8.2em;
}

.nutrition-icon {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nutrition-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.nutrition-value {
  font-weight: 700;
  font-size: 20px;
  color: #282d30;
  line-height: 1;
  display: flex;         
  align-items: baseline;  
  gap: 4px;
}

.nutrition-unit {
  font-weight: 500;
  font-size: 14px;
  color: #282d30;
  line-height: 1;
}

.nutrition-label {
  margin: 0;
  font-size: 14px;
  color: #74798c;
  line-height: 1;
}

