.top-navigation {
  display: flex;
  align-items: center;
  gap: 12.5rem;
  padding-left: 12em;

  a {
    color: #ffff;
    text-decoration: none;
    padding: 0.25rem 0;         
    position: relative;
    font-size: 1.25rem; 
    transition: color .3s ease;           
  }

  a:hover {
    color:#E60000;                  
  }
  a:focus {
    color:#E60000; 
  }

  

}