.home {
  margin: 3rem 6rem;

  .home-content {
    margin-top: 1em;
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 450px;
  }

  .home-content div {
    // background-color: #f1f1f1;
    // padding: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 16px;
  }
}

.daily-activity {
  grid-column-start: 1;
  grid-column-end: 4;
}

.nutritions {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  
}
