
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


#root {
  min-height: 100vh;
}